<!-- Footer -->
<footer>

 
      <div class="footer_icons">
          <!-- Facebook -->
          <a class="fb-ic" href="#">
            <i class="fa fa-facebook-f"></i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic" href="#">
            <i class="fa fa-pinterest"></i>
          </a>
    </div>

  <!-- Copyright -->
  <div >© 2019 Copyright:
    <a href="#"> Safetyworkblog.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->