<head>
  
  <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
      
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72184430-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-72184430-3');
</script>


 <script data-ad-client="ca-pub-9466483815741375" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta name="google-site-verification" content="FdLoe9HOCRMMxTdZlDZd_DpkDbwFzx8l5du6SJ046qY" />

        
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
      
  <title>
  {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.url }}"
  />
</head>
