$content-width: 850px; 
$main: #407afc;
$font-style: 'Muli', sans-serif;
$font-color: #262626;
$link-color: #fff;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #407afc;
$light: #e7edf4;
$header: #fff;
$link-article-color:#407afc;


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
