.grid_post {
  display: grid;
  grid-template-columns: 1fr 200px;
  padding: 0 15px;
  margin: 0 auto;
}
.cell {padding: 0px 20px;
  }
.cell-tags {
  justify-content: center;
    align-items: center;
    display: flex;
  
  
}

