.rect {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-top: 15px;
    margin:0 auto;
}

.rel {
    width: 239px;
    display: inline-block;
    padding: 5px;
    
}
