.template {
padding: 0 15px;
  max-width:1500px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
}
.box {
  background-color: #407afc;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}
