.template {
padding: 0 15px;
  max-width:1500px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 0 15px;
  max-width: 1500px;
  margin: 0 auto;
}
.box {
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
}
.box-title {
  color: #fff;
  border-radius: 5px;
}
.img-template {
      border: 1px solid;
    border-color: #000;
}
