<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    <main >
      <article>
        
        {{ content }}
<p><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- swb.bottom.flat -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9466483815741375"
     data-ad-slot="5050251788"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
  </script></p>
      </article>
      
      <div class="rect">

  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}

  {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for category in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains category %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}

          <a href="{{ site.baseurl }}{{ post.url }}">
              <div class="rel">
                  <h5>{{ post.title }}</h5>
                  <img width="100%" src="/assets/{{post.post_image}}">
              </div>
          </a>

      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
        
        
</div>
         {% for category in site.categories %}
           {% capture category_name %}{{ category | first }}{% endcapture %}
             <h3 class="category-head">{{ category_name }}</h3>
          {% endfor %}
    </main>
    {% include footer.html %}
  </body>
</html>
