--- 
layout: default 
---

<h1>{{ page.title }}</h1>

{{ page.date | date_to_string }} - {{ page.author }}
<div><strong >Categories:</strong>
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}</div>
<p><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- swb.top.flat -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9466483815741375"
     data-ad-slot="4161193016"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script></p>

 


{{ content }}
